.header {
  position: relative;
  grid-column: width;
  grid-row: header;
  background-color: #87d1db;
}

.header-component {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 80px;
}

.logo {
  height: 80px;
  width: 80px;
  padding: 10px;
}
