.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  height: 100%;
}

.navigation a {
  position: relative;
  width: 120px;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0.15px 15px rgba(0, 0, 0, 0.02);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(204, 197, 197, 0.1);
  border-radius: 30px;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(100px);
}

.navigation a:hover {
  letter-spacing: 3px;
}

.navigation a:first-child:before {
  content: " ";
  position: absolute;
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.navigation a:last-child::before {
  content: " ";
  position: absolute;
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.navigation:hover a::before {
  transform: skewX(45deg) translateX(600%);
}
.navigation:hover a::before {
  transform: skewX(45deg) translateX(600%);
}

.navigation::before {
  content: " ";
  position: relative;
  top: 34%;
  left: 34%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #cdfbbb;
  border-radius: 10px;
  transition: 0.5s;
}
