body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  justify-content: center;
  grid-column: width;
  grid-row: main;
  overflow-y: scroll;
  background-color: #262c3a;
}
/* .main:after {
  content: "";
  display: block;
  width: 100%;
} */

.footer {
  grid-column: width;
  grid-row: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87d1db;
  color: #262c3a;
  width: 100vw;
  height: 80px;
}
